.app-header {
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 100;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $thinGray;
  padding: 0 20px;

  // border: 1x solid black;
  
  padding: 5px;
  padding-bottom: 0%;
  // height: rem(60px);



  
  .header-content-container{
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 975px;
    height: 60px;
    flex-basis: 975px;
    
    // padding: em(0px) em(10px);

    .logo-container {
      position: relative;
      width:334px;
      text-align: left;
      padding-left: rem(20px);

      .header-logo {
        font-family: insta-font;
        letter-spacing: normal;
        font-size: 28px;
        font-weight:100;
        
       }
    }
  }

  .header-icon-nav-bar{
    position: relative;
    width: 334px;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    padding-right: 20px;
    svg {
      width: fit-content;
      height: 24px;
    }
  }


}

