.app-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  border: 1x solid black;
  margin: auto;
  padding-top: 5px;



  
  .header-content-container{
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: rem(975px);
    height: rem(60px);

    .logo-container {
      position: relative;
      width:rem(334px);
      text-align: left;
      padding-left: 20px;

      .header-logo {
        font-family: insta-font;
        letter-spacing: normal;
        font-size: xx-large;
        font-weight:100;
       }
    }
  }
  .header-icon-nav-bar{
    position: relative;
    width: rem(334px);
    justify-content: flex-end;
    gap: rem(20px);
    align-items: center;
    padding-right: 20px;
  }


}

.under-line{
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  display: flex;
  position: static;
  top: 0;
}
