.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  align-items: center;
  justify-content: center;

  // border: 1x solid black;
  
  padding: 5px;
  padding-bottom: 0%;
  // height: rem(60px);



  
  .header-content-container{
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: rem(975px);
    height: em(46px);
    // gap: rem(100px);
    
    // padding: em(0px) em(10px);

    .logo-container {
      position: relative;
      width:rem(334px);
      text-align: left;
      padding-left: 20px;

      .header-logo {
        font-family: insta-font;
        letter-spacing: normal;
        font-size: 24px;
        font-weight:100;
       }
    }
  }

  .header-icon-nav-bar{
    position: relative;
    width: rem(334px);
    justify-content: flex-end;
    gap: rem(25px);
    align-items: center;
    padding-right: 20px;
    svg {
      width: fit-content;
      height: rem(24px);
    }
  }


}

.under-line{
  margin: 0;
  background-color: #fff;
  border-top: $thinGray;
  padding: 0%;
  width: 100%;
  display: flex;
  position: static;
  top: 0;
}
