// .comments-list {
//     align-items: flex-start;
//     justify-content: space-between;
//     gap: 30px;
//     flex-grow: 1;
//     position: absolute;
//     vertical-align: baseline;
//     box-sizing: content-box;

    
//     overflow-y: scroll;
//   }


.comments-list {
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  height: em(447px);
  margin-top: 12px;
  // margin-inline-start: 12px;
    // flex-grow: 1;
    // position: absolute;
    // vertical-align: baseline;
    // box-sizing: content-box;

    
    overflow-y: auto
}

  