.post-edit-cmp-container{

    justify-content: flex-start;
    // margin-top: 10px;

    .comment-inputbox{
        height: rem(49px);
        width: 100%;
        position: relative;
        justify-content: space-between;
        align-items: center;
        gap:em(10px);
        .emoji-btn{
         align-items: center;
         svg{
         height: 24px;
         width: fit-content;
         }
        } 
        input{
         all:unset;
         border-radius: rem(5px);
         background-color: rgba(227, 227, 224, 0);
         height: 24px;
         width: 85%;
         text-align: left;
        
         
        } 
        .post-btn { 
          // font-size: smaller; 
          font-weight: 900;
          color: rgb(45, 170, 215);
          filter: opacity(40%);
        } 

    }
   

}