// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}

//flex
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-padding {
  padding-top: rem(6px);
  padding-bottom: rem(6px);
}

.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-base {
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.relative{
  position: relative;
}


.top-border{
  border-top: 1px solid $thinGray;
}
.bottom-border{
  border-bottom: 1px solid $thinGray;
}






// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.instagram-colors{
  background: radial-gradient(
    circle farthest-corner at 28% 100%,
    $yellow 0%,
    $yellow_to 10%,
    $orange 22%,
    $red 35%,
    transparent 65%
  ), linear-gradient(145deg, $blue 10%, $purple 70%);
}

