button{
    all:unset;
    &:hover{
        cursor: pointer;
    }
}
a{
    all: unset;
}
svg {

    &:hover{
        cursor: pointer;
    }
}

.modal-close-btn {
    font-size: x-large;
    color: #fff;
    margin-left: rem(80px);
    margin-bottom: rem(740px);
}

.meatballs-menu-btn{
  align-items: center;
  height: fit-content;
  
}